# Core functionality - changes here should be rare!
/src/app.py                   @ainhoagt
/src/backend/database.py      @ainhoagt
/src/backend/routers/auth.py  @ainhoagt

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ainhoagt 
